body {
  background: rgb(34, 37, 38);
  color: white;

  .filter {
    .dropdown {
      .dropdown-menu {
        right: 0;
        left: auto;
        display: block;

        .dropdown-item {
          cursor: pointer;
        }
      }
    }
  }

  .courses {
    .category {
      .card {
        &:first-child {
          margin-top: 16px;
        }

        margin-bottom: 4px;
        background: rgba(24, 26, 28, 1);

        .card-body {
          :nth-child(1) {
            flex: 4;
          }

          :nth-child(2), :nth-child(3), :nth-child(4) {
            flex: 2;
          }

        }
      }
    }

    .top-modules {
      .card {
        &:first-child {
          margin-top: 16px;
        }

        margin-bottom: 4px;
        background: rgba(24, 26, 28, 1);

        .card-body {
          :nth-child(1) {
            flex: 3;
          }
          :nth-child(2) {
            flex: 2;
          }
          :nth-child(3) {
            flex: 4;
          }

          :nth-child(1), :nth-child(3) {
            flex: 2;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
          }

        }
      }
    }

    .top-users {
      table {
        background: rgba(24, 26, 28, 1);
        tr, th {
          :nth-child(4) {
            text-align: right;
          }
        }
      }
    }
  }
}

.hide {
  display: none !important;
}